@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #F2FAFD;
  --foreground: #00072A;
  --navBar : #B2B8E4 ;
}

.dark {
  --background: #00072A;
  --foreground: #F2FAFD;
  --navBar : #0C1558 ;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: #172AAF;
  --color-primary-600: #132392;
  --color-primary-900: #080E3A;
  --color-secondary-500: #C8ED1F;
  --color-secondary-600: #A7C61A;
  --color-secondary-700: #859E15;
  --color-secondary-900: #434F0A;
  --font-consolas: var(--font-consolas), monospace;
  --font-consolas: var(--font-consolas-local), monospace;
  --font-haetten: var(--font-haettenschweiler), Impact, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
}

